# Core Data Science
pandas
numpy
matplotlib
seaborn
scikit-learn
joblib

# Machine Learning
xgboost
lightgbm
catboost
imbalanced-learn

# Experiment Tracking & Explainability
mlflow
shap

# API & Deployment
fastapi
uvicorn
pydantic
evidently
requests

# Dashboard
streamlit

# Utils
python-dotenv
pyyaml
